<div class="footer-wrapper">
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="icon">
            <img
              src="{{
                theme.path
              }}/assets/img/logos/whittemores_logo-footer.svg"
              class="d-block w-100"
              alt=""
            />
          </div>
          <div class="message">SINCE 1979</div>
          <div class="cta">
            <button class="hiring">
                <a href="{{site.url}}/we-are-hiring">
                  We're Hiring
                </a>
              </button>
          </div>
        </div>
        <div
          class="col-lg-4 offset-lg-1 contact d-flex flex-column align-items-start justify-content-start"
        >
          <h4 class="mt-0">Contact</h4>
          <ul>
            <li>Whittemores Landscape Design &AMP; Construction</li>
            <li>305 Bedford Street</li>
            <li>East Bridgewater, MA 02333</li>
          </ul>
        </div>
        <div class="col-lg-2">
          <a href="#our-work" class="link">OUR WORK</a>
          <a href="#services" class="link">SERVICES</a>
          <a href="#about" class="link">ABOUT</a>
        </div>
        <div class="col-lg-2 social-icon-wrapper">
          <p>connect</p>
          <ul class="d-flex align-items-center ">
            <li class="social-icons">
              <a
                href="https://www.facebook.com/whittemoreslandscaping"
                target="_blank"
              >
                <img
                  class="d-block w-100"
                  src="{{ theme.path }}/assets/img/logos/social-facebook.svg"
                  alt="Facebook Icon"
                />
              </a>
            </li>
            <li class="social-icons">
              <a href="">
                <img
                  class="d-block w-100"
                  src="{{ theme.path }}/assets/img/logos/social-instagram.svg"
                  alt="Instagram Icon"
                />
              </a>
            </li>
          </ul>
          <p>REVIEW US</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright">
            &copy; {{"now"|date('Y')}} WHITTERMORES LANDSCAPE DESIGN &amp;
            CONSTRUCTION
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
