<div class="our-work"
  id="our-work">
  <div class="container spacer">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column align-items-center mb-4">
          <h2>SPECIALIZING IN OUTDOOR LIVING SPACES</h2>

          <span class="green-allcaps">Our Work</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex flex-column align-items-center">
        <p>Whittemores Landscape Design &amp; Construction focuses on the expert construction and installation of outdoor living areas. View our work below to see a variety of residential and commercial projects. Specific examples of work are available upon request.</p>
      </div>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs d-flex align-items-center justify-content-center"
      id="nav-tab"
      role="tablist">
      {% for item in gallery %}
      <a class="our-work__nav-link {% if loop.first %}active{% endif %} "
        id="{{item.slug}}-tab"
        data-toggle="tab"
        data-target="#{{item.slug}}"
        role="tab"
        aria-controls="{{item.slug}}"
        aria-selected="true">
        <span>{{item.title}}</span>
      </a>
      {% endfor %}
    </div>
  </nav>

  <div class="tab-content"
    id="nav-tabContent">
    {% for item in gallery %}
    <div class="tab-pane fade show {% if loop.first %}active{% endif %}"
      id="{{item.slug}}"
      role="tabpanel"
      aria-labelledby="{{item.slug}}-tab">

      <div class="owl-carousel owl-theme">
        {% for img in item.meta('gallery') %}
        <div class="item">
          <img src="{{ Image(img.gallery_item) }}"
            alt="{{ Image(img.gallery_item).alt }}"
            class="carousel-image">
        </div>
        {% endfor %}
      </div>

    </div>
    {% endfor %}
  </div>
</div>
